* {
    box-sizing: border-box;
  }

/* font family   */
body {
  font-family: 'Nanum Gothic', sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  }


.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

.bg-head {
  max-height: 400px;
  margin-top: -80px;
}

header {
  padding: 12% 0;
}

section {
  /* margin-top: -200px; */
  min-height: 200px;
  padding: 3%;
  background-color: white;
  text-align:center;
}

#projects{
  margin-top: 0px;
  padding: inherit;
}

#projects .project{
  float:left;
  text-align: center;
  width:33.33%;
  padding: 10px;
  border: .1px black solid;
}

.icons{
  max-width: 1000px;
  max-height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.icon{
  max-width: 33px;
  max-height: 33px;
  display: inline-block;
}

em{
  text-decoration: underline;
  font-style: normal;
  font-size: 2rem;
  text-align: left;
}

button {
  border-radius: 5px;
  text-shadow: none;
  outline: none;
  font-size: 10px;
  color:  white;
  background-color:  rgb(88, 131, 120);
  border:none;
}

#about-contact{
  background-color: rgb(149, 177, 170);
  color: white;
  text-align: left;
}

h1, p , li {
  font-size: 15px;
}

@media(max-width: 768px){
#projects .project{
    float:none;
    text-align:center;
    width:100%;
  } 
}